@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Feeding Benita Foundation</h1>
    <p>Together, we can ensure that one starving child, Benita, never goes hungry again</p>
</div>
